# Server
PORT=4000
NODE_ENV=development
APP_NAME=Document Engine

# Database
DB_USER_NAME=
DB_PASSWORD=
DB_DATABASE=
DB_HOST_NAME=
DB_DIALECT=postgres
DB_PORT=5432

# Redis / BullMQ
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# Storage
STORAGE_DRIVER=disk
STORAGE_ROOT=../storage

# LibreOffice
SOFFICE_BIN=soffice
